@media (max-width: 900px) {
  .qr-code-text-box {
    margin-top: 3.2rem;
    padding: 0 1.2rem;
  }
}
@media (max-width: 720px) {
  .qr-code-wrapper {
    padding: 1.2rem;
    width: 65%;
  }
  .qr-code-text-box {
    margin-top: 1.2rem;
  }
}

@media (max-width: 400px) {
  .qr-code-wrapper {
    width: 100%;
   
    
  }
}
